.projectContainer{
    width: 80%;
    height: 60vh;
    min-height: auto;
    margin: auto;
    margin-top: 100px;
    z-index: 9999;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 50% 50%;
    gap: 20px;
    position: relative;
    justify-content: center;
    animation: slideFromRight 1s;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 20px 20px 20px 0 rgba(0, 0, 0, 0.5); 
    
}

.project{
    border: 2px solid  rgb(0, 219, 219);
    width: 70%;
    height: 80%;
    margin: auto;
    box-sizing: border-box;
}

@keyframes slideFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }  
  

@media (max-width: 900px) {

    .projectContainer{
        box-shadow: 20px 20px 20px 0 rgba(0, 0, 0, 0.5); 
        width: 85%;
        height: auto;
        margin: auto;
        margin-top: 100px;
        border: 2px solid rgb(135, 135, 135);
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    }

    .project{
            border: 2px solid rgb(0, 219, 219);
            width: 200px;
            height: 200px;
            margin: auto;
            box-sizing: border-box;
            
    }
}