.projectContainer{
    width: 80%;
    height: 60vh;
    min-height: auto;
    margin: auto;
    margin-top: 100px;
    z-index: 9998;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 50% 50%;
    gap: 20px;
    position: relative;
    justify-content: center;
    animation: slideFromRight 1s;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 20px 20px 20px 0 rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border: 2px solid rgb(135, 135, 135);
    font-family: "Nice";
}
  
.skill {
    color: #ffffff;
  }

.project {
    width: 70%;
    height: 80%;
    border-radius: 50%; 
    position: relative;
    margin: auto;
    box-sizing: border-box;
    border-radius: 50%;
    border: 5px solid rgb(0, 219, 219);
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    
}
.one{
  background-image: conic-gradient(from 0deg, #323232 7%, transparent 0);
  background-color: #00DBDB;
}
.two{
  background-image: conic-gradient(from 0deg, #323232 21%, transparent 0);
  background-color: #00DBDB;
}
.three{
  background-image: conic-gradient(from 0deg, #323232 17%, transparent 0);
  background-color: #00DBDB;
}
.four{
  background-image: conic-gradient(from 0deg, #323232 27%, transparent 0);
  background-color: #00DBDB;
}
.five{
  background-image: conic-gradient(from 0deg, #323232 13%, transparent 0);
  background-color: #00DBDB;
}
.six{
  background-image: conic-gradient(from 0deg, #323232 7%, transparent 0);
  background-color: #00DBDB;
}
h3{
    position: absolute;
    top: -50px
}

@keyframes slideFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }  
  

@media (max-width: 1250px) {

    .projectContainer{
        box-shadow: 20px 20px 20px 0 rgba(0, 0, 0, 0.5); 
        width: 85%;
        height: auto;
        margin: auto;
        margin-top: 100px;
        border: 2px solid rgb(135, 135, 135);
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    }

    .project{
            border: 2px solid rgb(0, 219, 219);
            width: 200px;
            height: 200px;
            margin: auto;
            box-sizing: border-box;
            
    }
}